  <style>
    html, body, #mapDiv {
      height: 100%;
      width: 100%;
    }
  </style>

  <!-- ArcGIS API for JavaScript library references -->
  <script>
	    require(["esri/map",
	      "dojo/on",
	      "dojo/dom",
	      "dojo/domReady!"],
	      function(Map, on, dom) {
		// Create map
		var map = new Map("mapDiv",{
		  basemap: "gray",
		  center: [-122.69, 45.52],
		  zoom: 3
		});

		// Wire UI Events
		on(dom.byId("btnStreets"),"click", function() {
		  map.setBasemap("streets");
		});
		on(dom.byId("btnSatellite"),"click", function() {
		  map.setBasemap("satellite");
		});
		on(dom.byId("btnHybrid"),"click", function() {
		  map.setBasemap("hybrid");
		});
		on(dom.byId("btnTopo"),"click", function() {
		  map.setBasemap("topo");
		});
		on(dom.byId("btnGray"),"click", function() {
		  map.setBasemap("gray");
		});
		on(dom.byId("btnNatGeo"),"click", function() {
		  map.setBasemap("national-geographic");
		});
	     });
  </script>
  <body>
    <div class="panel panel-primary panel-fixed">
      <div class="panel-heading">
        <h3 class="panel-title">Basemaps</h3>
      </div>
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button id="btnStreets" class="btn btn-default">Streets</button>
            <button id="btnSatellite" class="btn btn-default">Satellite</button>
            <button id="btnHybrid" class="btn btn-default">Hybrid</button>
            <button id="btnTopo" class="btn btn-default">Topo</button>
          </div>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <button id="btnGray" class="btn btn-default">Gray</button>
            <button id="btnNatGeo" class="btn btn-default">National Geographic</button>
          </div>
        </div>
      </div>
    </div>
    <div id="mapDiv"></div>
  </body>
